[submodule "lib/adl-cmake"]
	path = lib/adl-cmake
	url = ssh://git@stash.ops.aol.com:2022/adl/adl-cmake.git
[submodule "lib/adl-liblogger"]
	path = lib/adl-liblogger
	url = ssh://git@stash.ops.aol.com:2022/adl/adl-liblogger.git
[submodule "lib/adl-libcore"]
	path = lib/adl-libcore
	url = ssh://git@stash.ops.aol.com:2022/adl/adl-libcore.git
[submodule "lib/adl-libmon"]
	path = lib/adl-libmon
	url = ssh://git@stash.ops.aol.com:2022/adl/adl-libmon.git
