name=Price Volume Data Manager (P/V Testing)
instance_id=demo_pvm_cdm
listening_port=30003
num_threads=40
header=campaign_id,allocation,price,volume
key_name=campaign_id
key_prefix=sprint_demo_price_volume_mediator_data_manager
base_path=/pvm2_cdm
expiration_hours=24
memcache_server_list=m-tst-adlibmembase02.advertising.aol.com:11225
log_config=/data/pv_testing/logs/pvmcdm_log4cxx.properties
expiration_offset_seconds=10
sort_timeout=30
working_dir=/data/pv_testing
